html {
    height: 100%;
    width: 100%;
  }

.nasaplanet {
    height:150px;
    
}

body {
    background-image: url(images/space2.jpg);
    background-size: cover;
}

.header {
    color: white;
}