html {
    height: 100%;
    width: 100%;
  }

.nasaplanet {
    height:150px;
    
}

body {
    background-image: url(images/space.jpg);
    background-size: cover;

}

.solar {
    color: white;
    font-size: 50px;
}

.system {
    color: white;
    font-size: 25px;
}

.nasaplanet {
    width: 600px;
    height: 500px;
    margin-left: 1300px;
}